table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
}

tr {
  height: 40px;
}

tr:hover {
  background-color: #ddd;
}

[data-href] {
  cursor: pointer;
}

.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25%;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}
