<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h3>All Incomes</h3>
    </div>
    <div class="col" id="new-item-button">
      <button type="button" class="btn btn-primary" routerLink="/incomes/new">
        + New
      </button>
    </div>
  </div>
  <hr />
  <table class="table" *ngIf="incomes.length > 0">
    <tr>
      <th>CUSTOMER NAME</th>
      <th>DATE</th>
      <th>PAYMENT MODE</th>
      <th>AMOUNT</th>
      <th>ACTION</th>
    </tr>
    <tr *ngFor="let income of incomes">
      <td>
        {{ income["customer"]?.firstName }} {{ income["customer"]?.lastName }}
      </td>
      <td>{{ income["paymentDate"] | date: "dd/MM/YYYY" }}</td>
      <td>{{ income["paymentMode"] }}</td>
      <td>
        {{ income["currency"]?.substring(0, 3) }} {{ income["amountReceived"] }}
      </td>

      <td>
        <div class="btn-group" dropdown>
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            <span class="caret"></span>
          </button>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem">
              <a
                class="dropdown-item"
                (click)="openModal(income, incomeDetails)"
                >View Details</a
              >
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a
                class="dropdown-item"
                routerLink="/incomes/{{ income['id'] }}/edit"
                >Edit</a
              >
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="openModal(income, deleteModal)"
                >Delete</a
              >
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>

<ng-template #incomeDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Income Details</h4>
  </div>
  <div class="modal-body">
    <div class="details-content">
      <label>Customer name:</label>
      <p>
        {{ selectedItem?.customer?.firstName }}
        {{ selectedItem?.customer?.lastName }}
      </p>
      <label>Amount:</label>
      <p>
        {{ selectedItem?.currency?.substring(0, 3) }}
        {{ selectedItem?.amountReceived }}
      </p>
      <label>Date:</label>
      <p>{{ selectedItem?.paymentDate | date: "dd/mm/yyyy" }}</p>
      <label>Bank charges:</label>
      <p>{{ selectedItem?.bankCharges }}</p>
      <label>Payment number:</label>
      <p>{{ selectedItem?.paymentNumber }}</p>
      <label>Payment mode:</label>
      <p>{{ selectedItem?.paymentMode }}</p>
      <label>Reference number:</label>
      <p>{{ selectedItem?.referenceNumber }}</p>
      <label>Tax deducted? :</label>
      <ng-container *ngIf="selectedItem?.taxDeducted == 0">
        <p>Yes</p>
      </ng-container>
      <ng-container *ngIf="selectedItem?.taxDeducted == 1">
        <p>No</p>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-primary"
      routerLink="/incomes/{{ selectedItem.id }}/edit"
      (click)="closeModal()"
    >
      Edit
    </button>
    <button type="submit" class="btn btn-primary" (click)="closeModal()">
      Close
    </button>
  </div>
</ng-template>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Do you want to delete?</p>
    <button type="button" class="btn btn-default" (click)="deleteIncome()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="closeModal()">
      No
    </button>
  </div>
</ng-template>
