.container{
    width: 600px;
}

.card{
    margin: 50px;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 10px;
}

h2.text-center{
 color: #01A1FF;;
}

.btn{
    text-align: center;
    background-color:#01A1FF;;
    width: 150px;
}

.btn-container{
    text-align: center;
}
.form-control{
    border-radius: 10px;
}
.forgot-password{
    text-align: right;
    color: #01A1FF;
    margin-bottom: 15px;
}

.SignUp{
text-align: center;
}
