<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h3>All Salespersons</h3>
    </div>
    <div class="col" id="new-item-button">
      <button
        type="button"
        class="btn btn-primary"
        (click)="addNewSalesperson()"
      >
        + New
      </button>
    </div>
  </div>
  <hr />
  <table class="table" *ngIf="salespersons.length > 0">
    <tr>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>ACTION</th>
    </tr>
    <tr *ngFor="let salesperson of salespersons">
      <td>{{ salesperson.name }}</td>
      <td>{{ salesperson.email }}</td>
      <td>
        <div class="btn-group" dropdown>
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            <span class="caret"></span>
          </button>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem">
              <a class="dropdown-item">View Details</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="editSalesperson(salesperson.id)"
                >Edit</a
              >
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a
                class="dropdown-item"
                (click)="openDeleteModal(deleteTemplate, salesperson.id)"
                >Delete</a
              >
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>

<ng-template #deleteTemplate>
  <div class="modal-body text-center"><p>Do you want to delete?</p></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="delete()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="close()">No</button>
  </div>
</ng-template>
